.blog-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr) 100px;
    grid-row-gap: 50px;
}

.card {
    grid-column: 2/6;
    display: flex;
    border-radius: 20px;
    box-shadow: 8px 5px 19px -4px rgba(0,0,0,0.65);
}

.card-title {
    font-size: 25px;
}

.card-img {
    width: 220px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-post {
    padding: 0 20px;
}

.card-interest {
    text-transform: uppercase;
    color: #6B6B6E;
    font-size: 12px;
    font-weight: lighter;
}

.card-article {
    margin: 20px 0;
    text-align: justify;
}

.card-footer {
    display: flex;
    align-items: center;
    margin: 40px 0px 30px;
}

.author-info {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name, .read-more {
    font-size: 17px;
    color: #007AE9;
    font-weight: normal;
}

.read-more {
    margin-left: auto;
}

@media (max-width: 425px),(min-width: 426px) and (max-width: 720px) {
    .blog-cards {
        grid-template-columns: 300px;
        grid-template-rows: repeat(4, 1fr) 10vh;
        grid-row-gap: 5vh;
        justify-content: center;
    }

    .card {
        grid-column: 1;
        flex-direction: column;
    }

    .card-img {
        width: 300px;
        border-radius: 20px 20px 0px 0px;
    }

    .card-article {
        text-align: left;
        line-height: 1.6;
    }

    .card-footer {
        margin: 40px 0px 30px;
    }

    .author-avatar {
        width: 30px;
        height: 30px;
    }

    .author-name, .read-more {
        font-size: 15px;
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .blog-cards {
        grid-template-columns: 80px repeat(6, 1fr) 80px;
        grid-template-rows: repeat(4, 1fr) 10vh;
    }

    .card {
        grid-column: 2/8;
    }

    .card-img {
        height: 100%;
    }

    .card-article {
        line-height: 1.6;
    }
}