.navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: 70px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.navbar  > a {
    font-size: 30px;
    color: #3d3b3c;
}